
body {
    font-family: Verdana;
    background-color: lightgrey;   
}
.tile{
    background-color: #999999;
    /*margin: 5px 0px 0px 0px;*/
    padding: 10px 5px;
    width: 20%;
    height: 100px;
    margin: 5px;
    /* Show a scroll if text overflows but not otherwise (after uncommenting height; 200-100px)*/
   overflow: auto;
}
h1 {
    color: white;
  }
h3 {
    color: white;
    width: 1000%;
    height: 30px;
    padding: 10px;

  }
  * {
    margin: 0px;
    padding: 0px;
  }
#topics-learnt{
  font-family: 'Courier New', Courier, monospace;
}
div {
  /*background-color: red;*/ }
#tile1{
  /*background-color: blue ;*/
  /*position: absolute;
  top: 0px;
  right: 0px;
  /*position: relative;
  left: 50px;*/
}
.container {
  padding: 100px 0px 10px 0px;
  display: flex;
  flex-wrap: wrap;
  /*justify-content: center; 
  align-items: stretch;*/
  /*border: 2px dashed black;*/
}
#title {
  position: fixed;
  width: 100%;
  background-color: black; 
  color: white;
  text-align: center;
  height: 60px;

}
a:hover {
  color: red;
}
#footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  padding: 10px 0px;
  background-color: #efefef;
  text-align: center;
}
.hero-image img {
  height: 90vh;
  width: 100%;
}